@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1400px;
    padding: 0 5%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

/* heaader */
header {
    background-image: url(../img/bg-banner.svg);
    background-size: cover;
    background-attachment: fixed;
}

header nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul img {
    width: 55px;
}

header nav ul {
    display: flex;
    align-items: center;
}

/* menu icon */
header nav .menu-icon {
    display: none;
}

header nav li {
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 40px;
    cursor: pointer;
}

header main {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

main .main_text {
    width: 50%;
}

main .main_text h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}

main .main_text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FEFEFE;
    margin-top: 25px;
    margin-bottom: 30px;
}

main .main_text button {
    background: #F53627;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px 70px;
}

main .main_img {
    width: 50%;
    position: relative;
}

main .main_img img:nth-child(1) {
    position: relative;
    z-index: 1;
}

main .main_img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 43px;
    transform: rotate(2deg);
    z-index: 1;
}

main .main_img img:nth-child(3) {
    position: absolute;
    left: -15px;
    bottom: 23px;
}

main .main_img img:nth-child(4) {
    position: absolute;
    top: -7px;
    left: 394px;
}

/* menu */
.menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

.menu-produtos div {
    margin: 10px 0;
}

.menu button {
    background: linear-gradient(95.52deg, #FFC71F -10.96%, #FFAF18 102.66%);
    box-shadow: 2px 4px 12px rgba(255, 199, 31, 0.25);
    border-radius: 22px;
    padding: 15px 80px;
    margin: 0 auto;
    display: inherit;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-top: -24px;
}

.menu .container .menu-produtos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px;
    text-align: center;
    flex-wrap: wrap;
}

.menu .container .menu-produtos div div {
    margin: 0 10px;
}

.menu .container .menu-produtos p {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.menu .container .menu-arrow-left,
.menu .container .menu-arrow-right {
    cursor: pointer;
}

/* produtos */
.produtos {
    margin-top: 40px;
    background-image: url(../img/bg-produtos.png);
    background-size: cover;
    padding: 70px 0;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid black;
}

.produtos .row-produtos {
    display: flex;
}

.produtos .row-produtos .card-produto {
    background: #FFFFFF;
    box-shadow: 7px 10px 24px rgba(255, 199, 31, 0.22);
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 189px;
    padding: 3px;
    padding: 14px;
}

.produtos .row-produtos .card-produto .titulo {
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}

.produtos .row-produtos .card-produto .img {
    width: 240px;
}

.produtos .row-produtos .card-produto img {
    width: 100%;
}

.produtos .row-produtos .card-produto .sub-titulo {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #868686;
    margin: 13px 0;
}

.produtos .row-produtos .card-produto .price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F73D27;
    border-radius: 18px;
    padding: 9px 20px;
}

.produtos .row-produtos.tree {
    justify-content: space-between;
}

.produtos .row-produtos.tree .card-produto {
    width: 32%;
}

.produtos .row-produtos .card-produto.red {
    background-color: #F22D2A;
}

.produtos .row-produtos .card-produto.red .price {
    background-color: #FFC71F;
}

.produtos .row-produtos .card-produto.red .titulo,
.produtos .row-produtos .card-produto.red .sub-titulo {
    color: white;
}

.produtos .row-produtos.two .card-produto {
    width: 50%;
    height: 211px;
    margin-right: 30px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.produtos .row-produtos.two .card-produto:last-child {
    margin-right: 0;
}

.produtos .row-produtos.two .card-produto .price {
    font-weight: 700;
    font-size: 14px;
    color: #F73D27;
    display: flex;
    background-color: transparent;
}

.produtos .row-produtos.two .card-produto .price span {
    font-size: 40px;
    transform: rotate(-12.16deg);
    display: block;
}

/* app */
.app {
    height: 415px;
    background: linear-gradient(262.18deg, #FFB737 -0.11%, #FFBE4B 97.74%);
}

.app .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app .app_text {
    width: 50%;
}

.app .app_text div {
    margin-top: 20px;
}

.app .app_text div img {
    margin-right: 20px;
}

.app .app_text h2 {
    font-size: 53px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.app .app_img {
    width: 40%;
    display: flex;
    margin-top: -50px;
}

/* depoimentos */
.depoimentos {
    background: #FBEEE4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.depoimentos .container {
    display: flex;
    justify-content: center;
}

.depoimentos .depoimentos-col-1 h3 {
    font-weight: 800;
    font-size: 48px;
    color: #18191F;
    height: 128px;
    width: 445px;
}

.depoimentos .depoimentos-col-1 p {
    font-weight: 400;
    font-size: 18px;
    color: #18191F;
}

.depoimentos .card-depoimentos {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    padding: 32px;
    width: fit-content;
    display: flex;
    align-items: flex-start;
}

.depoimentos .card-depoimentos img {
    margin-right: 10px;
}

.depoimentos .card-depoimentos .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #18191F;
}

.depoimentos .card-depoimentos .autor {
    font-weight: 700;
    font-size: 18px;
    color: #18191F;
    margin-top: 20px;
}

.depoimentos .card-depoimentos .autor-arroba {
    font-weight: 500;
    font-size: 14px;
    color: #969BAB;
}

.depoimentos .depoimentos-col-1 .card-depoimentos {
    width: 350px;
    margin: 20px auto;
}

.depoimentos .depoimentos-col-2 .card-depoimentos:nth-child(1) {
    width: 445px;
    height: 236px;
    margin-top: 60px;
}

.depoimentos .depoimentos-col-2 .card-depoimentos:nth-child(2) {
    margin-top: 36px;
    width: 350px;
    height: 268px;
}

/* contacto info */
.contacto_info {
    background: #F02228;
    padding: 40px 0;
}

.contacto_info .container {
    display: flex;
    justify-content: space-around;
    color: white;
}

.contacto_info .whatsapp,
.contacto_info .telefone {
    display: flex;
    align-items: center;
}

.contacto_info .whatsapp img,
.contacto_info .telefone img,
.contacto_info .medias-socias img {
    margin-right: 18px;
}

/* footer */
footer {
    background: #202329;
    color: #FFFFFF;
    padding-top: 50px;
    position: relative;
    height: 422px;
}

footer .container>img {
    position: absolute;
    right: 0;
    bottom: -40px;
}

footer .container {
    display: flex;
}

footer .col-footer {
    margin-right: 0px;
    width: 200px;
    position: relative;
    z-index: 10;
}

footer h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

footer li {
    font-weight: 400;
    font-size: 16px;
    color: #D9DBE1;
    margin: 15px 0;
}

footer .container .input-email form {
    position: relative;
    width: 300px;
}

footer .container .input-email input {
    height: 40px;
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #717276;
    border-radius: 8px;
    font-size: 14px;
    color: #D9DBE1;
}

footer .container .input-email input::placeholder {
    color: #D9DBE1;
}

footer .container .input-email button {
    background-color: transparent;
    position: absolute;
    right: 12px;
    top: 12px;
}

/* copy */
.copy {
    background: #202329;
    color: #D9DBE1;
    padding-bottom: 25px;

}

.copy .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    main .main_img img:nth-child(2) {
        right: -56px;
    }

    main .main_img img:nth-child(1) {
        width: 460px;
    }

    main .main_img img:nth-child(4) {
        left: 72%;
        top: -40px;
        width: 173px;
    }

    main .main_text h1 {
        font-size: 52px;
        line-height: 50px;
    }

    main .main_text p {
        font-size: 16px;
        width: 400px;
    }

    main .main_text button {
        padding: 15px 45px;
    }
}

@media (max-width: 1025px) {
    .app .app_img img:first-child {
        width: 185px !important;
    }

    .app .app_text h2 {
        font-size: 40px;
    }

    .app .app_text {
        margin-left: 46px;
    }

    main {
        padding: 0 3%;
    }

    main .main_img img:nth-child(4) {
        left: 68%;
        width: 157px;
    }

    main .main_img img:nth-child(1) {
        width: 415px;
    }

    main .main_text h1 {
        font-size: 47px;
    }

    .produtos .row-produtos .card-produto.red .titulo {
        font-size: 20px;
    }

    .depoimentos .card-depoimentos {
        height: fit-content !important;
    }

    .depoimentos .card-depoimentos .text {
        line-height: 22px;
    }

    .depoimentos .container {
        flex-direction: column;
    }

    .depoimentos-col-2 {
        margin: 0 auto;
    }
}

/* responsivo */
@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    main .main_img,
    main .main_text {
        width: 100%;
    }

    /* menu mobile */
    header nav ul li {
        display: none;
    }

    header nav .menu-icon {
        display: block;
        margin-right: 10px;
    }

    header nav .menu-icon img {
        width: 35px;
    }
}

@media (max-width: 950px) {
    .produtos .row-produtos.tree {
        flex-wrap: wrap;
    }

    .produtos .row-produtos .card-produto {
        justify-content: space-around;
    }

    .produtos .row-produtos.tree .card-produto {
        width: 48%;
    }

    .produtos .row-produtos.tree .card-produto:last-child {
        width: 573.75px;
        margin: 40px auto 0 auto;
    }
}

@media (max-width:770px) {
    .produtos .row-produtos .card-produto {
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .produtos .row-produtos {
        flex-wrap: wrap;
    }
}

@media (max-width: 820px) {
    .app .container {
        flex-direction: column;
    }

    .app {
        height: auto;
        padding: 80px 0;
    }

    .app .app_img {
        width: fit-content;
    }

    .app .app_text {
        width: 90%;
        margin: 30px 0 0 0;
    }

    .app .app_text h2 {
        text-align: center;
    }

    .app .app_text div {
        width: fit-content;
        margin: 15px auto 0 auto;
    }

    .contacto_info .container {
        flex-wrap: wrap;
    }

    .contacto_info .whatsapp,
    .contacto_info .telefone {
        margin: 20px;
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .col-footer {
        margin: 17px 0;
    }

    footer .container>img {
        opacity: 0.3;
    }

    .copy {
        padding-top: 57px;
    }
}

@media (max-width: 800px) {
    footer .container .col-footer.w-400 {
        width: 300px;
    }
}

@media (max-width: 530px) {
    main .main_img img:nth-child(2) {
        right: -30px;
    }
}